*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --color-blue:  #07d1d5;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.navbar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding:0;
    z-index:999;
}
.navbar-brand{
    position:relative;
}
.navbar-brand::after{
    width: 389px;
    content: " ";
    background-image: url("../img/header.png");
    /* background-size: 389px 111px; */
    position: absolute;
    left: -53px;
    top: -8px;
    height:111px;
    z-index:-1;
}
.navbar-nav .nav-item .nav-link{
    color:#fff;
    text-transform:uppercase;
    letter-spacing: 0.5px;
    font-size:14px;
}
.navbar-nav .nav-item .nav-link.active{
    color: var(--color-blue);
    position: relative;
}
.navbar-nav .nav-item .nav-link.active::after{
    content:'';
    position:absolute;
    bottom:0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width:7px;
    height:7px;
    background:var(--color-blue);
    border-radius: 100%;
}

/* START BANNER */
.banner{
    height:100vh;
    display:flex;
    align-items: center;
    position:relative;
}
.backgrounds{
    position: absolute;
    top:0;
    width:0;
    height:100%;
    width: 100%;
    z-index:-1;
    pointer-events: none;
}
.backgrounds .banner_main--img{
    position:absolute;
    top:0;
    right:0;
}
.banner_secondary--img, .banner_main--img{
    width: 118vh;
    height:auto;
}
.banner_secondary--img{
    position:absolute;
    top:0;
    left:0;
}
.font-weight-bold-500{
    font-weight:500;
} 
.contact--btn{
    background-color: var(--color-blue);
    padding:20px 40px;
    color:#fff;
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 0.4px;
    box-shadow: 4px 8px 21px -3px #08bfc3bf;
}
.contact--btn:hover{
    color:#fff;
    text-decoration: none;
}
.color--blue{
    color: var(--color-blue);
}
.font-size-large{
    font-size:53px;
    letter-spacing: 0.4px;
}
.parag{
    font-size:14px;
    margin-bottom:40px;
}
/* END BANNER */


/* START MOTO */
.moto{
    padding-bottom: 50px;
}
.moto h1{
    font-size:35px;
}
/* END MOTO */


/* START WORK AREAS */
.work-areas{
    background: #f7f6f6;
    text-align: center;
    padding:50px 0 50px 0;
}
.work-areas h1{
    margin-bottom: 28px;
}
.work-areas .item{
    padding-bottom: 27px;
}
.single_work--area{
    background:#fff;
    display: flex;
    flex-direction: column;
    border-radius:30px;
    padding:45px;
    border:1px solid var(--color-blue);
    min-height: 222px;
    position: relative;
}
.single_work--area img{
    height: 62px;
    object-fit: contain;
}
.single_work--area h5{
    font-size: 18px;
    margin-top: 28px;
    color:var(--color-blue);
}
.work-areas .owl-item.active.center .single_work--area{
    background: linear-gradient(to bottom, #08b1b6, #08e3e7);

}
.work-areas .owl-item.active.center .single_work--area h5{
    color:#fff;
}
.work-areas .owl-item.active.center .single_work--area .arrow--btn{
    display: none;
}
.arrow--btn{
    height: 42px;
    width: 42px;
    border-radius: 100%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid var(--color-blue);
}
.arrow--btn img{
    height:10px;
}
/* END WORK AREAS */


/* START PORTFOLIO */
.portfolio{
    
}
/* END PORTFOLIO */


/* START TESTIMONY */
.testimony{
    display:block;
    position:relative;
    padding-top: 60px;
}
.testimony .item{
    padding:60px 8px 0 0;
}
.testimony .card{
    background:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius:30px;
    padding:45px 0;
    border:1px solid var(--color-blue);
    min-height: 222px;
    position: relative;
}
.testimony .item .profile-pic{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 3px solid var(--color-blue);
}
.testimony .item .name{
    color: var(--color-blue);
    font-size:18px;
    margin-top:10px;
}
.testimony .item .role{
    font-size:18px;
    font-weight:800;
}
.testimony .item .text{
    color: #747474;
    font-size:14px;
    padding: 0 24px;
}
.testimony--text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.testimony--text h1{
    font-size:42px;
    font-weight: 700;
}
.testimony--text p{
    color:#747474;
    padding-right: 100px;
}
.testimony .owl-carousel .owl-nav button.owl-next{
    display: none;
}
.testimony .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 50%;
    left: 5vw;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 4px 8px 21px -3px #08bfc3bf;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-blue);
    transition: 0.4s all ease;
}
.testimony .owl-carousel .owl-nav button.owl-prev svg{
    height:34px;
    width:auto;
    fill:#fff;
}
.testimony .owl-carousel .owl-nav button.owl-prev:hover{
    background:var(--color-blue);
}
.testimony .owl-carousel .owl-nav button.owl-prev:focus{
    outline: none;
}
/* END TESTIMONY */


/* START NEWSLETTER */
.newsletter{
    max-width: 991px;
    display: block;
    margin:0 auto;
    text-align: center;
    background:#f5f4f4;
    border-radius: 180px;
    padding: 70px 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.newsletter .subscribe-wrap{
    position: relative
}
.newsletter input.form-control{
    height: calc(1.5em + .75rem + 23px);
    width:95%;
    border-radius: 35px;
    text-indent: 16px;
}
.newsletter .subscribe--btn{
    background: var(--color-blue);
    height: calc(1.5em + .75rem + 23px);
    color:#fff;
    padding: .375rem 2.75rem;
    border-radius: 35px;
    z-index: 2;
    position: absolute;
    top:0;
    right:0;
    border:none;
    outline:none;
    letter-spacing: 0.4px;
}
/* END NEWSLETTER */


/* START FOOTER */
footer{
    background:#171717;
    border-radius: 50px 50px 0 0;
    padding-top:40px;
}
.socials{
    border-top: 1px solid rgba(221, 221, 221, 0.548);
    border-bottom: 1px solid rgba(221, 221, 221, 0.548);
    padding:10px 0;
    margin:10px 0;
}
.footer-copy{
    text-align: center;
    color:#ddd;
    padding-bottom:10px;
}
footer h3{
    font-size:18px;
    color:#fff;
    margin-top:15px;
}
footer a{
    color:#a8a6a6;
    text-decoration: none;
    font-size:14px;
}
footer a:hover{
    color:#a8a6a6;
    text-decoration: none;
}
footer p{
    color:#a8a6a6;
    font-size:14px;
    position: relative;
}
footer p i{
    color:var(--color-blue);
    position:absolute;
}
footer p i.fa.fa-map-marker{
    top: 1px;
    left: -21px;
    font-size: 14px;
}
footer p i.fa.fa-mobile{
    font-size: 17px;
    left: -17px;
    top: 0px;
}
footer p i.fa-envelope-o{
    font-size: 12px;
    left: -20px;
    top: 4px;
}
/* END FOOTER */